@model Alboraq.MobileApp.WebApi.Models.RegisterBindingModel

@using (Html.BeginForm("userdetails", "admin", FormMethod.Post, new { id = "frmNewUser" }))
{
    <div class="form-group">
        @Html.LabelFor(user => user.Name)
        @Html.TextBoxFor(user => user.Name, new { @class = "form-control input-sm", required="required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Email)
        @Html.TextBoxFor(user => user.Email, new { @class = "form-control input-sm", required = "required", type = "email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Password)
        @Html.PasswordFor(user => user.Password, new { @class = "form-control input-sm", required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.ConfirmPassword)
        @Html.PasswordFor(user => user.ConfirmPassword, new { @class = "form-control input-sm", required = "required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.PhoneNumber)
        @Html.TextBoxFor(user => user.PhoneNumber, new { @class = "form-control input-sm", required = "required" })
    </div>
    <div class="form-group">
        <button type="submit" id="btnAddSubmit" class="btn btn-default">Submit</button>
    </div>
}
