@model Alboraq.MobileApp.WebApi.Models.MVC.Admin.AdminSettingsViewModel

<br /><br />
<button type="button" 
        id="btnAddUserDialog"
        class="btn btn-default"        
        data-keyboard="false">Add new user</button>
<br /><br />

@if (Model.Users.Count() > 0)
{
    <div class="body-content">           

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        <button class="btn btn-default btn-xs btnEditUserDialog"
                                data-userid="@user.Id">
                            Edit
                        </button>
                        <button class="btn btn-default btn-xs btnResetPasswordDialog"
                                data-email="@user.Email">
                            Reset Password
                        </button>
                        <button class="btn btn-danger btn-xs btnDeleteUserDialog"
                                data-email="@user.Email">
                            Delete &nbsp;<i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    
                </tr>
            }
        </tbody>
    </table>
        </div>
}
else
{
    <div class="alert alert-info">No Users found</div>
}

