@model Alboraq.MobileApp.WebApi.Models.MVC.Admin.AdminSettingsViewModel


@if (Model.Users.Count() > 0)
{
    <div class="body-content">
        <br /><br />
    <button type="button" id="btnAddUserDialog" 
            class="btn btn-default"
            data-target="#appModal"
            data-toggle="modal"
            data-backdrop="static"
            data-keyboard="false">Add new user</button><br /><br />

    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <button id="btnEditUserDialog" class="btn btn-default btn-xs" data-keyboard="false" data-backdrop="static" data-userid="@user.Id">Edit</button>
                        <button id="btnChangePasswordDialog" class="btn btn-default btn-xs" data-keyboard="false" data-backdrop="static" data-userid="@user.Id">Change password</button>
                        <button id="btnResetPasswordDialog" class="btn btn-default btn-xs" data-keyboard="false" data-backdrop="static" data-userid="@user.Email">Reset Password</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        </div>
}
else
{

}

